<%- include('partials/header') %>

<div class="main-section" id="book-main-section">
   
  <main class="main-page">
  
    <section id="book-details">
      <% if (book.imageLinks) { %>
        <div>
          <img src=<%= `${book.imageLinks.thumbnail}` %> alt="" />
        </div>
        <% } else { %>
          <div>
            <img id="unsplash-image" src=<%= `https://source.unsplash.com/random?book=${book.pageCount}` %> alt="" />
          </div>
          <% } %>

      <div>
        <h3>Title: <%= book.title %></h3>
        <p>Authors: <%= ...book.authors %></p>
        <p>Publisher: <%= book.publisher %></p>
        <p>published Date: <%= book.publishedDate %></p>
        <p id="book-detail-desc">Description: <%- book.description %></p>
        <p>Page Count: <%= book.pageCount %></p>
        <div class="book-link">
          <span><a href=<%= book.previewLink %>>Preview Link On Google Books</a></span>
        <span><a href="/books">Back To Books</a></span>
        </div>
      </div>
    </section>
    
  </main>
</div>

<%- include('partials/footer') %>
