<%- include('partials/header') %>

<div class="main-section">
   
  <main class="main-page">
  <h2>Books</h2>
    <%books.forEach((book, index) => { %>
      <section class="book-section">
        <div class="book-image-container">
          <img src=<%= `https://source.unsplash.com/random?book=${index}` %> alt="" />
        </div>
  
        <div class="short-book-details">
          <h3><%= book.title %></h3>
          <p><%= book.author %></p>
          <span> <%= book.genre %> <a href=<%= `/books/${book._id}` %>>Read More ...</a></span>
        </div>
      </section>
    <%}) %>
    
  </main>
</div>

<%- include('partials/footer') %>
